html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
    background-color: #0b1120;
}

.app-header {
    padding: 8px 16px;
    background-color: #222;
    color: #fff;
}

.app-main {
    flex: 1;
}

.error {
    color: red;
    padding: 8px 16px;
}
